input{
    margin:inherit;
}
.community_container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    font-family: 'Pretendard-Regular';
}
.community_container h1 {
    font-size: 27px;
    text-align: center;
    margin-bottom: 40px;
}

.community_header{
    display: flex;
    justify-content: center;
}
/*.community-content{*/
/*    max-height: 1000px;*/
/*}*/
.community_header .new_post_btn{
    background: #99A98F;
    color:#fff;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    cursor: pointer;
    font-family: 'Pretendard-Regular';
}


.community{
    font-size:15px;
}
.post_table{
    width: 100%;
    border-top:1px solid #d9d9d9;
    border-bottom:1px solid #d9d9d9;
    margin-bottom: 30px;
    border-collapse: collapse;
    font-size:13px;
}
.post_table th,
.post_table td{
    padding:10px 0;
}
.post_table tr{
    text-align: center;
    border-top:1px solid #d9d9d9;
}

.post_list .community_title:hover{
    cursor: pointer;
    text-decoration: underline;
}


.new_post_form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:0 220px;
}
.new_post_form div{
    margin-bottom: 30px;
}
.new_post_form span{
    display: inline-block;
    width:70px;
    font-size:15px;
    text-align: right;
    margin-right: 20px;
}
.new_post_form input{
    width:100%;
    height:35px;
    margin-bottom: 0;
    box-shadow: none;
}
.new_post_form select{
    height:35px;
    border:1px solid #d9d9d9;
    box-shadow: none;
    padding-top:1px;
    padding-bottom: 1px;
}
.new_post_form textarea{
    width:100%;
    height:300px;
    padding:10px;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    margin-bottom: 20px;
}
.btn{
    margin:0 auto;
}
.btn .register_btn {
    width:inherit;
    height: inherit;
    box-shadow: inherit;
    background-color: #99A98F;
    border: none;
    font-size: 20px;
    color: #fff;
    padding: 15px 70px;
    border-radius: 50px;
    font-family: 'Pretendard-Regular';
    cursor: pointer;
    margin-right: 10px;
}



/* post_detail */
.community_detail{
    width:70%;
    margin:40px auto 60px;
}
.community_detail .post_header{
    font-size:13px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #d9d9d9;
}
.community_detail .post_header .post_category{
    margin-bottom: 20px;
}
.community_detail .post_header .post_title{
    font-size:25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.community_detail .post_header .button button {
    background-color: #99A98F;
    border-radius: 50px;
    font-family: 'Pretendard-Regular';
    cursor: pointer;
    color:#fff;
    border: none;
    padding:8px 15px;
}
.community_detail .post_header .post_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.community_detail .post_header .post_info .left .post_nickname{
    font-weight: bold;
    margin-right: 30px;
}
.community_detail .post_header .post_info .right{
    display: flex;
    align-items: center;
}
.community_detail .post_header .post_info .right .like_btn,
.community_detail .post_header .post_info .right .scrap_btn{
    margin-right:10px;
    display: flex;
    cursor: pointer;
}

.community_detail .post_content{
    font-size:13px;
    margin-bottom: 100px;
}

.community_detail .btn{
   display: flex;
    justify-content: center;
}
.community_detail .btn .community_list_btn{
    width: inherit;
    height: inherit;
    box-shadow: inherit;
    background-color: #99A98F;
    border: none;
    font-size: 20px;
    color: #fff;
    padding: 15px 70px;
    border-radius: 50px;
    font-family: 'Pretendard-Regular';
    cursor: pointer;
}