.applylist{
    display: flex;
    flex-direction: column;
    min-height: 400px;
    margin-bottom: 10px;
}
.ListContent{
    display: flex;
    justify-content: center;
}
.study_apply_list {
    border-collapse: collapse;
    border: 2px solid #b2b2b2; /* 테두리 스타일 및 두께 설정 */
    border-radius: 10px;
    text-align: center;
    width: 60%;
}
.study_apply_list th {
    background: #dbdbdb;
    font-family: 'Pretendard-Regular';
    font-size: 18px;
    padding: 5px 0;
}
.study_apply_list th,
.study_apply_list tr,
.study_apply_list td {
    font-family: 'Pretendard-Regular';
    border: 1px solid #b2b2b2;
    width: 33%;
}
.study_apply_list th{
    background-color: #395B64;
    color: white;
}
.study_apply_list td {
    padding: 10px 0;
    background-color: ivory;
}
#apply_name{
    font-size: 15px;
}


.study_apply_list td button {
    font-family: 'Pretendard-Regular';
    border-radius: 10px;
    border:1.5px solid #395b64;

    padding: 5px 20px;
    text-shadow: none;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
}
.look_motive{
    border:1px solid #395b64;
    background-color: white;
    color: #395b64;
}
.acceptbtn{
    border:1px solid #395b64;
    background-color: white;
    color: #395b64;
}
.acceptbtn:hover{
    font-weight: bold;
}
.rejectbtn{
    border:1px solid #395b64;
    background-color: white;
    color: #395b64;
}
.rejectbtn:hover{
    font-weight: bold;
}
.acceptbtn.clicked{
    border:1px solid white;
    background-color: #395b64;
    color: white;
}
.rejectbtn.clicked{
    border:1px solid white;
    background-color: #395b64;
    color: white;
}

/*.acceptbtn Cliked{*/
/*    border:1.5px solid #0d0d2a;*/
/*    background-color: white;*/
/*    color: #395b64;*/
/*}*/
/*지원동기 폼*/
.background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.548);
}
.background .show_motive {
    width: 40%;
    height: fit-content;
    position: absolute;
    top: 20%;
    left: 30%;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Pretendard-Regular';
}
.openStudy{
    display: flex;
    width: 100%;
    justify-content: center;
}
#open-btn{
    margin-top: 30px;
    background-color: #395B64;
    color: white;
    border-radius: 10px;
    padding: 5px;
}
.isMember_wrap{
    display: flex;
    flex-direction: column;
}
.isMember_wrap p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:15px;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Pretendard-Regular';
}

.isMember{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    font-family: 'Pretendard-Regular';
}
#mem{
    font-family: 'Pretendard-Regular';
    font-size: 12px;
}
.apply{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
#apply-btn{
    background-color: #395B64;
    color: white;
    font-size: 12px;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    margin-top: 40px;
}
