html {
	font-size: 62.5%;
} /*10px*/

.container {
	width: 100%;
	margin: 0 auto;
	/*width: 90%;*/
	margin: 30px auto 0;
	display: flex;
	flex-direction: row;
	font-family: 'Pretendard-Regular';
	margin-top: 40px;
}
.main_container {
	width: 85%;
	max-width: 900px;
	position: relative;
	margin-top: 15px;
}
#main-container-title{
	font-size: 25px;
	font-family: inter;
	font-weight: bolder;
	position: relative;
	left: 15px;
}

.main_container h2 {
	width: fit-content;
	padding: 7px;
	background: #e7f6f2;
	border-radius: 10px;
}
.category {
	display: flex;
	flex-direction: column;
	color: #99a3af;
	padding: 15px;
	width: 20%;
	margin-left: 20px;
	font-family: "Pretendard-Regular";
}
.c_01,
.c_02,
.c_03,
.c_04 {
	/*margin-bottom: 10px;*/
	/*font-size: 0.7em;*/
	/*color: lightgray;*/
	color: #A3A3A3;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 40px;
}
#c_title:hover{
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}
.sub_c > nav {
	padding: 0px;
}
.sub_c > nav ul {
	display: flex;
	flex-direction: column;
	width: fit-content;
	padding: 0;
}
.sub_c > nav ul li {
	color: #000;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.sub_c > nav ul li:hover{
	list-style: none;
	font-size: 19px;
	font-weight: bolder;
	white-space: nowrap;
	padding: 5px;
	cursor: pointer;
}

.content_container {
	display: flex;
	padding-top: 10px;
	/*padding-right: 60px;*/
	border-radius: 15px;
	height: 100%;
	overflow: hidden;
	font-family: 'Pretendard-Regular';

}
.content_container .study_list {
	display: flex;
	flex-wrap: wrap;
}
.study_list {
	display: flex;
	flex-wrap: wrap;
}
.study_list .list {
	width: 25%;
	/*height: 220px;*/
	margin-right: 12px;
	margin-bottom: 20px;
	padding: 30px;
	/*border: 1px solid #99a3af;*/
	border-radius: 40px;
	background-color: white;
	/*background-color: #E7F6F2;*/
	cursor: pointer;
	/*display: flex;*/
	/*flex-direction: column;*/
	/*justify-content: space-between;*/
}
.study_list .list:nth-of-type(3n) {
	margin-right: 0;
}

.study_list .list_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.study_list .list_sub_header {
	display: flex;
}
.study_list .list_day {
	background-color: #efefef;
	padding: 7px 10px;
	border-radius: 50px;
	margin-right: 10px;
}
.study_list .list_status {
	background-color: #BBDF9F;
	color: #ffffff;
	padding: 7px 10px;
	border-radius: 50px;
}
.study_list .list_btn{
	display: flex;
}
.study_list .list_like {
	font-size: 17px;
	color: #fff700;
	cursor: pointer;
	margin-right: 10px;
}
.study_list .list_scrap {
	font-size: 17px;
	color: #fff700;
	cursor: pointer;
}
.study_list .list_deadline {
	font-size: 13px;
	padding-top: -10px;
	color: #99a3af;
}
.study_list .list_title {
	font-size: 20px;
	font-weight: bold;
}
.study_list .list_tag {
	width: fit-content;
	background-color: #ffffff;
	border: 0.275px solid #FFC947;
	padding: 7px 10px;
	border-radius: 50px;
}
.study_list .list_onoff {
	width: fit-content;
	background-color: #FFC947;
	border: 0.275px solid #FFC947;
	padding: 7px 10px;
	border-radius: 50px;
}
.study_list .stroke {
	border-bottom: 1px solid #c6c6c6;
}

.buttons{
	margin-bottom: 10px;
	text-align: right;
}
#go-teamblog, .evaluation_btn{
	border-radius: 5px;
	border-style: none;
	background-color: #BBDF9F;
	color: white;
	padding: 5px;
	margin-top: 10px;
	cursor: pointer;
}
#go-teamblog:hover, .evaluation_btn:hover{
	background-color: #7A8E6D;
	color: white;
	font-weight: bolder;
}
.evaluation_btn{
	margin-left:10px;
}

.paging{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 20px;
}
