html {
	font-size: 62.5%;
} /*10px*/

.main_container {
	width: 85%;
	max-width: 900px;
}
.main_container h2 {
	width: fit-content;
	padding: 7px;
	margin-top: 0;
	background: #e7f6f2;
	border-radius: 10px;
}

.c_01,
.c_02,
.c_03,
.c_04 {
	margin-bottom: 10px;
	font-size: 0.7em;
	color: lightgray;

}

.sub_c > nav {
	padding: 0px;
}
.sub_c > nav ul {
	display: flex;
	flex-direction: column;
	width: fit-content;
	padding: 0;
}
.sub_c > nav ul li {
	list-style: none;
	color: white;
	font-size: 10px;

	white-space: nowrap;
	padding: 5px;
}

.content_container {
	display: flex;
	padding-top: 10px;
	padding-left: 0;
	border-radius: 15px;
	height: 100%;
	overflow: hidden;
}

.study_list {
	display: flex;
	flex-wrap: wrap;
}
.study_list .list {
	width: 25%;
	height: 240px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 30px;
	border: 1px solid gray;
	border-radius: 40px;
	/*display: flex;*/
	/*flex-direction: column;*/
	/*justify-content: space-between;*/
}
.study_list .list:nth-of-type(3n) {
	margin-right: 0;
}

.study_list .list_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}
.study_list .list_sub_header {
	display: flex;
}
.study_list .list_day {
	background-color: #efefef;
	padding: 7px 10px;
	border-radius: 50px;
	margin-right: 10px;
}
.study_list .list_status {
	background-color: #BBDF9F;
	color: #ffffff;
	padding: 7px 10px;
	border-radius: 50px;
}
.study_list .list_like {
	font-size: 17px;
	color: #fff700;
	cursor: pointer;
}
.study_list .list_deadline {
	font-size: 13px;
	padding-top: -10px;
	color: #99a3af;
	margin-bottom: 20px;
}
.study_list .list_title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.study_list .list_tag {
	width: fit-content;
	background-color: #ffffff;
	border: 0.275px solid #FFC947;
	padding: 7px 10px;
	border-radius: 50px;
	margin-bottom: 10px;
}
.study_list .list_onoff {
	width: fit-content;
	background-color: #FFC947;
	border: 0.275px solid #FFC947;
	padding: 7px 10px;
	border-radius: 50px;
}
.study_list .stroke {
	border-bottom: 1px solid #c6c6c6;
	margin: 15px 0;
}


/* 팀원 평가 */
.evaluate{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.evaluate p{
	font-size:15px;
	margin:50px 0 100px;
}
.evaluate button, form input{
	width:150px;
	border-radius: 5px;
	border: 1px solid #dbdbdb;
	color: #000000;
	padding: 5px;
	margin-top: 10px;
	cursor: pointer;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
}
.evaluate_table{
	width: 100%;
	border-top:1px solid #d9d9d9;
	border-bottom:1px solid #d9d9d9;
	margin-bottom: 30px;
	border-collapse: collapse;
	font-size:13px;
}
.evaluate_table th,
.evaluate_table td{
	padding:10px 0;
}
.evaluate_table tr{
	text-align: center;
	border-top:1px solid #d9d9d9;
}

.evaluate_table textarea{
	width: 100%;
	height: 30px;
}
.member_rating > div{
	align-items: center;
}

.evaluate_list button{
	width:75px;
	height:35px;
	border-radius: 5px;
	border-style: none;
	background-color: #BBDF9F;
	color: white;
	cursor: pointer;
}