html {
	font-size: 62.5%;
} /*10px*/

.main_container {
	width: 85%;
	max-width: 900px;
}
.main_container h2 {
	width: fit-content;
	padding: 7px;
	margin-top: 0;
	background: #e7f6f2;
	border-radius: 10px;
}

.c_01,
.c_02,
.c_03,
.c_04 {
	margin-bottom: 10px;
	font-size: 0.7em;
	color: lightgray;

}

.sub_c > nav {
	padding: 0px;
}
.sub_c > nav ul {
	display: flex;
	flex-direction: column;
	width: fit-content;
	padding: 0;
}
.sub_c > nav ul li {
	list-style: none;
	color: white;
	font-size: 10px;

	white-space: nowrap;
	padding: 5px;
}

.content_container {
	display: flex;
	padding-top: 10px;
	padding-left: 0;
	border-radius: 15px;
	height: 100%;
	overflow: hidden;
}

.study_list {
	display: flex;
	flex-wrap: wrap;
}
.study_list .list {
	width: 25%;
	height: 240px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 30px;
	border: 1px solid gray;
	border-radius: 40px;
	/*display: flex;*/
	/*flex-direction: column;*/
	/*justify-content: space-between;*/
}
.study_list .list:nth-of-type(3n) {
	margin-right: 0;
}

.study_list .list_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}
.study_list .list_sub_header {
	display: flex;
}
.study_list .list_day {
	background-color: #efefef;
	padding: 7px 10px;
	border-radius: 50px;
	margin-right: 10px;
}
.study_list .list_status {
	background-color: #0038FF;
	color: #ffffff;
	padding: 7px 10px;
	border-radius: 50px;
}
.study_list .list_like {
	font-size: 17px;
	color: #fff700;
	cursor: pointer;
}
.study_list .list_deadline {
	font-size: 13px;
	padding-top: -10px;
	color: #99a3af;
	margin-bottom: 20px;
}
.study_list .list_title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.study_list .list_tag {
	width: fit-content;
	background-color: #ffffff;
	border: 0.275px solid #FFC947;
	padding: 7px 10px;
	border-radius: 50px;
	margin-bottom: 10px;
}
.study_list .list_onoff {
	width: fit-content;
	background-color: #FFC947;
	border: 0.275px solid #FFC947;
	padding: 7px 10px;
	border-radius: 50px;
}
.study_list .stroke {
	border-bottom: 1px solid #c6c6c6;
	margin: 15px 0;
}
