html {
	font-size: 62.5%;
} /*10px*/

.study_detail_container {
	width: 60%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}
.study_detail_container h1 {
	font-size: 27px;
	text-align: center;
}
.study_detail_container .arrow_left {
	text-align: left;
	font-size: 50px;
	color: #898989;
	cursor: pointer;
	position: relative;
}
.arrow_left .openStudy{
	background-color: #0038FF;
	border: none;
	font-size: 13px;
	color: #fff;
	padding: 13px 0;
	border-radius: 50px;
	font-family: 'Pretendard-Regular';
	cursor: pointer;
	width:100px;
	position: absolute;
	right:0;
	top:0;
}
.study{
	margin-bottom: 100px;
	font-family: 'Pretendard-Regular';
}
.study h3{
	font-size: 17px;
	text-align: center;
}

.study_detail {
	width: 80%;
	margin: 0 auto;
	font-family: 'Pretendard-Regular';
}
/* study_header */
.study_detail .study_header {
	text-align: left;
	border-bottom: 1px solid #dbdbdb;
}
.study_header .study_title {
	font-size: 25px;
}
.study_header .study_author_info {
	display: flex;
	/*border-bottom: 1px solid #dbdbdb;*/
	padding-bottom: 30px;
}
.study_header .study_author_info > p {
	margin: 0;
}
.study_header .study_author_info .study_author {
	margin-right: 30px;
}
.study_header .study_author_info .study_created_date {
	color: #a8a8a8;
}
.study_header > div {
	display: flex;
	justify-content: space-between;
}
.study_header .study_detail_btn{
	margin-top: -10px;
}
.study_header .study_edit{
	margin-right:10px;
}
.study_header .study_edit,
.study_header .study_remove{
	background-color: #0038FF;
	border-radius: 50px;
	font-family: 'Pretendard-Regular';
	cursor: pointer;
	color:#fff;
	border: none;
	padding:8px 15px;
}

/* study_content */
.study_content {
	margin: 30px 0 0 15px;
	font-size: 15px;
}
.study_info {
	margin-bottom: 50px;
}
.study_info {
	padding-left: 0;
}
.study_info li {
	margin-bottom: 10px;
}
.study_info li > span:nth-of-type(1) {
	display: inline-block;
	width: 130px;
	font-weight: bold;
}
.study_info li > span:nth-of-type(2),
.study_info li > span:nth-of-type(3) {
	color: #898989;
}
.study_intro{
	margin-bottom: 30px;
}
.study_intro,
.study_apply_reason {
	font-size: 15px;
	margin-left: 15px;
}
.study_intro > div:nth-of-type(2),
.study_apply_reason textarea,
.study_apply_reason > div:nth-of-type(2) {
	border: 1px solid #dbdbdb;
	border-radius: 10px;
	padding: 15px 10px;
	margin-top: 15px;
}
.study_apply_reason textarea {
	width: 100%;
	height: 100px;
}
.btn {
	margin: 40px auto 70px;
	display: flex;
	justify-content: center;
}
.btn .apply_btn {
	background-color: #0038FF;
	border: none;
	font-size: 20px;
	color: #fff;
	padding: 15px 70px;
	border-radius: 50px;
	font-family: 'Pretendard-Regular';
	cursor: pointer;
}

.scrap_img, .like_img{
	width:20px;
}


