.main_dash_container {
    width: 95%;
    max-width: 900px;
}
.dashboard_detail{
    overflow: auto;
}
.dashboard_detail::-webkit-scrollbar {
    width: 5px; /* 스크롤바 너비 */
}

.dashboard_detail::-webkit-scrollbar-thumb {
    background-color: #a5c9ca; /* 스크롤바 색상 */
}
.View_All{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top:10px;

}
#view-subtitle{
    font-size: 20px;
    font-weight: bolder;
    margin-left: 30px;
}
/*hr{*/
/*    margin-left: 15px;*/
/*}*/
.dashboard_container{
    display: flex;
    padding-top: 10px;
    padding-left: 35px;
    border-radius: 15px;
    height: 100%;
    overflow: hidden;
    font-family: 'Pretendard-Regular';


}

.HomeDashBoard{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.HomeDashBoard > .study_list{
     display: flex;
    flex-direction: column;
    width: 90%;
}
.HomeDashBoard >.study_list> .list {
width: 600px;
}
.dashboardlist{
    border: 1px solid #395B64;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    width: 105%;
}

.dashboard_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.dashboard_sub_header{
    display: flex;
    flex-direction: row;
    width: 440px;
    /*justify-content: space-between;*/
 }
.dashboard_day{
    font-size: 13px;
    color: #395B64;
    position: relative;
    top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.dashboardsubdetail{
    display: flex;
    flex-direction: row;
}