.main_content{
    display: flex;
}
.team_blog{
    width:95%;
    margin:0 auto;
    position: relative;
    right: 80px;
}
.team_blog .page_title{
    font-size: 30px;
    text-align: center;
    font-family: 'Pretendard-Regular';
}
.team_blog .img_wrapper{
    position: relative;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;
    height: 100px;
    background-color: #BBDF9F;
}
.team_blog .img_wrapper img {
    width: 100%;

}
.team_blog .team_info{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.team_blog .team_info .study_title{
    font-size: 23px;
    color:white;
    margin:0 0 15px;
    font-family: 'Pretendard-Regular';
}
.team_blog .team_info .study_duration{
    font-size: 18px;
    color:white;
    margin:0;
    /*font-family: 'Pretendard-Regular';*/
    font-family: Inter;
}

.team_blog .gnb_bg{
    margin:10px 0 50px;
    border-radius: 10px;
    padding:10px 0;
}
.team_blog .gnb_bg .gnb{
    width:60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.team_blog .gnb_bg .gnb li{
    font-size: 18px;
    cursor: pointer;
}
.team_blog .gnb_bg .gnb li:hover{
    font-size: 18px;
    font-weight: bolder;;
    cursor: pointer;
}

.team_blog .content{
    margin: 0 auto;
    width:95%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

}
.team_blog .content .left{
    margin-right:30px;
}
.team{
    width:650px;
}
.team p{
    font-size: 15px;
}
.team p span{
    color:#dbdbdb;
    cursor: pointer;
}
.team > div{
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    margin-bottom: 30px;
}
#more:hover{
    font-weight: bolder;
}
.content-left{
    width: 600px;
}
.todoAndSchedule{
    display: flex;
    justify-content: space-between;
}
.todo_content, .schedule_content{
    width: 270px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.TeamToDo{
    width: 100%;
}
.team_todo_content > div:nth-last-of-type(1){
    margin-bottom: 10px;
}
.team_todo_content h4{
    font-size: 15px;
    margin:10px;
}
.team_todo_content ul li{
    font-size: 12px;
    margin-left: 30px;
}


.team_schedule_content, .team_progress_content{
    padding:10px;
}

.team_chatting_content{
    height:700px;
}
.team_chatting_content .chatting_title{
    margin:20px auto 50px;
    padding:15px;
    width:50%;
    background: #E7F6F2;
    border-radius: 40px;
    text-align: center;
    font-size: 20px;
}
.chatting_content{
    margin:20px 10px 0;
}
.chatting_content > div{
    margin-bottom: 40px;
}
.chatting_content .nickname{
    font-size:15px;
    margin-right:10px;
}
.chatting_content .chat{
    padding:10px;
    background: #395B64;
    border-radius: 10px;
    font-size: 15px;
    color:#fff;
}
.chatting_content .me{
    background: #dbdbdb;
    display: inline-block;
    text-align: right;
    color:#000;
}

.team_chatting_content .chat_input{
    background: #dbdbdb;
    padding:20px;
}
.team_chatting_content .chat_input input{
    position: inherit;
    box-shadow: inherit;
    border: inherit;
    margin-right:20px;
}
.team_chatting_content .chat_input .chat_submit_btn{
    background: #395B64;
    border: inherit;
    border-radius: 10px;
    color:#fff;
    font-size: 15px;
    padding: 15px 20px;
    cursor: pointer;
}
.map_content{
    display: flex;
    flex-direction: column;
    margin-top: 38px;
}
.map_content button{
    width: 60px;
    border-style: none;
    border-radius: 5px;
    background-color: #7A8E6D;
    color: white;
    position: relative;
    bottom: 15px;

}
.location_content{
    width: 580px;
    height: fit-content;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
}

#input-location{
    display: flex;
    flex-direction: row;
}
#input-location > p{
    font-size: 25px;
    font-family: inter;
    font-weight: bolder;
    position: relative;
    left: 15px;

}
#input-location > input{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    bottom: 30px;
}
#input-location > button{
    width: 35px;
    height: 15px;
}
#naver-map{
    position: relative;
    bottom: 10px;
}

.content_right{
    margin-left: 20px;
}
.content-bottom{
    margin: 0 auto;
    width:60%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}