.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal-view {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.modal-close-button {
    position: absolute;
    top: 10px; /* 오른쪽 상단에서 떨어진 거리 조절 */
    right: 15px; /* 오른쪽 상단에서 떨어진 거리 조절 */
    cursor: pointer;
    font-size: 17px; /* 글꼴 크기 조절 */
}

.modal-content {
    text-align: center;
    font-size: 17px;
}

/* 선택한 신고 사유에 대한 스타일 */
.report-reason {
    cursor: pointer;
    padding: 8px 0;
    transition: background-color 0.2s;
}

.report-reason:hover {
    background-color: #f0f0f0; /* 마우스 호버 시 배경색 변경 */
}

/* 선택된 신고 사유의 스타일 */
.report-reason.selected {
    background-color: #9ba790; /* 선택한 신고 사유의 배경색 */
    color: #fff; /* 선택한 신고 사유의 텍스트 색상 */
    border-radius: 5px; /* 모서리 둥글게 설정 */
}
.report-button {
    border-radius: 15px;
    width: 70px;
    padding: 4px 0;
    background: #c0dca4;
    cursor: pointer;
    font-size: 15px;
    border: none;

}