@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&family=Nanum+Pen+Script&family=Tektur&family=Yeon+Sung&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
body {
	background-color: #f6f6f6;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Nanum Pen Script", cursive;
	font-family: "Tektur", cursive;
	font-family: "Yeon Sung", cursive;
	font-family: "Nanum Myeongjo", serif;

	min-height: 100vh;
	margin: 0px;
}
.main_wrap{
	height: fit-content;
}
.subground {
	/*background-color: #e7f6f2;*/
	/*background-color: #0d0d2a;*/
	/*background-image: url("./images/aurora_background.jpg");*/
	background-image: url("./images/aurora_background.jpg");
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 200px;
	margin: 0 auto;
	height: auto;
	width: 96vw;
	position: relative;
	right: 10px;
}
.LOGO{
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
#root {
	background-color: white;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	overflow-x: hidden;

}
.App {
	min-height: 100vh;
	min-width: 100vw;
	/*padding-left: 10px;*/
	padding-right: 10px;
	/*background-color: #a5c9ca;*/


}

/* Header */
header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	width: 95vw;
	margin: auto;

}
header > div {
	display: flex;
}
header .head_text {
	width: 50%;
	font-size: 13px;
	font-family: 'Pretendard-Regular';
	justify-content: center;
	white-space: nowrap;
	color: #395B64;
}
/*.main_wrap > header .head_text{*/
/*	color: white;*/
/*}*/

header .head_left {
	width: 20%;
	justify-content: start;
	font-family: "Nanum Pen Script", cursive;
	font-weight: bold;
	color: #395B64;
	white-space: nowrap;
}
.Header_logo{
	display: flex;
	flex-direction: row;
	font-size: 45px;
	position: relative;
	top: 10px;
}
.Header_logo_img{
	position: relative;
	width: 70px;
}
/*.main_wrap > header .head_left{*/
/*	color: white;*/
/*}*/
header .head_right {
	width: 20%;
	font-family: 'Pretendard-Regular';
	font-size: 1.5em;
	justify-content: end;
	white-space: nowrap;
	color: #395B64;
}

/* 로고 */
.logodiv {
	display: flex;
	justify-content: center;
}
.logo {
	position: relative; /*기존위치에서 얼마나 떨어지게 할지 */
	top: 25px; /*위에서 25px만큼 떨어져라 */

	width: 200px;
	height: 60px;
	white-space: nowrap;

	font-size: 20px;
	font-family: "Courier New", Courier, monospace;
	font-weight: bolder;

	border-radius: 30px;
	border-style: none;
	background-color: #395b64;
	color: #f6f6f6;
}
/* 사이드 바 */
nav {
	padding: 20px;
}
.sidebar nav ul,
.headerbar nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	padding: 20px;

}
.headerbar nav ul {
	padding: 0px;

}
.sidebar nav ul li {
	padding: 20px;
	font-size:20px;
	cursor: pointer;
}
.headerbar nav ul li {
	padding-left: 20px;
	font-size:20px;
}

/* 검색바 */
.Home_wrap{
	display: flex;
	justify-content: center;
	height: fit-content;
	margin: 40px;
	margin-bottom: 50px;
	margin-top: 50px;
}
.select_search{
	position: relative;
	bottom: 9px;
}
#sub{
	border: 1px solid #d9d9d9;
	border-radius: 50px;
	background: #fff;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
	width: 90px;
	height: 50px;
	margin-right: 10px;
	margin-bottom: 15px;
	color:grey;
}
#sub option{
	border: 1px solid #d9d9d9;
	background: #fff;
	color: black;
	border-radius: 3%;
	font-family: 'Pretendard-Regular';
}
.searchbar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input {
	position: relative;
	bottom: 10px;
	width: 500px;
	height: 50px;
	border-radius: 50px;
	border: 1px solid #d9d9d9;
	background: #fff;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
	padding-left: 20px;
}
input::placeholder{
	padding-left: 10px;
}

.searchbar ul {
	list-style: none;
	padding-left: 0px;
	width: 380px;
	border: solid 1px #395b64;
	background-color: #fff;
	border-radius: 10px;
	padding: 5px;
	margin-top: 0px;
	margin-bottom: 5px;
	padding: 10px;
}
.searchbar ul li {
	width: 100px;
	border-bottom: solid 1px #99a3af;
	padding: 5px;
	margin-bottom: 5px;
	font-size: 1.5rem;

}
.searchinput img{
	position: relative;
	right: 35px;
	bottom: 3.5px;
}
.user_wrap{
	width: 17.5%;
	border: 3px solid #0d0d2a;
	margin-left: 10px;
	font-family: 'Pretendard-Regular';
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.dashboard_tag_wrap{
	display: flex;
	flex-direction: column;
}
.dashboard_tag_wrap p{
	font-size: 15px;
	font-weight: bolder;
	padding:10px;
	margin-bottom: 5px;
}
#tag-subtitle{
	padding-top:0px;
	margin-left: 53px;
}

.dashboard_Tags{
	display: flex;
	flex-direction: column;
	margin-left: 5px;
	padding: 10px;
}
.dashboard_tagname_wrap{
	width: fit-content;
	margin-bottom: 10px;
	display: flex;
}
#ranking{
	font-weight: bolder;
	font-size: 15px;
}

#dashboard_tagbtn{
	width: 80px;
	padding: 10px;
	background-color: white;
	color: #395B64;
	border: 1px solid #A5C9CA ;
	border-radius: 10px;
	box-shadow: 0px 10px 10px 0px rgba(165, 201, 202, 0.15);
	font-family: 'Pretendard-Regular';
}

.dashboard{
	width: 100%;
	display: flex;
	flex-direction: row;
	/*justify-content: space-between;*/
	height: 350px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 30px;
}

.dashboard_todo{
	width: 30%;
	font-size: 20px;
	border: 3px solid #0d0d2a;
	padding: 10px;
	margin-left: 10px;
	font-family: 'Pretendard-Regular';
}
.dashboard_todo #today{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 1.2vw;
	font-weight: bold;
}
button#todo_more{
	background-color: white;
	border-style: none;
	color: #99a3af;
	cursor: pointer;
	margin-left: 9vw;
}
.dashboard_detail{
	width: 45%;
	border: 3px solid #0d0d2a;
	margin-left: 10px;
	font-family: 'Pretendard-Regular';

}
/*로그인 안했을 때 태그 화면*/
.nouser_wrap{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 100px;
	height: fit-content;
	margin-bottom: 100px;
}
.tag_wrap{
	width: 80%;
	display: flex;
	flex-direction: column;
	align-content: center;
}
.tag_wrap p{
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
	font-size: 30px;
	font-family: "Nanum Pen Script", cursive;
}
.Tags{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-top: 30px;

}

#tagbtn{
	width: 150px;
	padding: 10px;
	background-color: white;
	color: #395B64;
	border: 1px solid #A5C9CA ;
	border-radius: 10px;
	box-shadow: 0px 10px 10px 0px rgba(165, 201, 202, 0.15);
	font-family: 'Pretendard-Regular';
}
/* 푸터 */
footer{
	/* margin-left: 10px;
  	margin-right: 10px; */
	/*background-color: #395b64;*/
	background-color: #0d0d2a;
	color: #E7F6F2;
	font-size: 14px;
	/*font-family: 'Nanum Myeongjo', serif;*/
	font-family: 'Pretendard-Regular';
	padding-bottom: 10px;
}
.footer_info{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.info_wrap{
	width: 86%;
	justify-content: center;
	margin: 0 auto;
}
.info_content{
	display: flex;
	justify-content: center;
}
.info_ul, .subfooter_info ul, .info_etc{
	width: 80%;
	margin-bottom: 35px;
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
	/*padding-left: 80px;*/
	padding-right: 80px;
	padding-bottom: 10px;
}
.info_ul{
	padding-left: 0px;
	padding-right: 0px;

}


.subfooter_info{
	margin-top: 30px;
}
.info_second_wrap{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.info_second_content{
	width: 80%;

}

.subfooter_info ul{
	width: 80%;
	padding-top: 10px;
	margin-bottom: 0px;
	justify-content: start;

}
.subfooter_info ul li{
	color: white;
}
.info_etc{
	padding-top: 10px;
	margin-bottom: 10px;
}
.item{
	margin-left: 10px;
	margin-right: 10px;
}
.item_first{
	margin-left: 0px;
	margin-right: 10px;
}
.item_first li{
	font-size: 20px;
	position: relative;
	bottom: 8px;
}

li span{
	margin-bottom: 5px;
}
.item1{
	margin-left: 10px;
	margin-right: 10px;
}

footer li{
	list-style: none;
	display: flex;
	flex-direction: column;
	color: lightgray;

}

footer hr{
	color: #E7F6F2;
	width: 80%;
	/*margin-left: 80px;*/
	/*margin-right: 80px;*/
}

footer p {
	font-weight: bolder;
	font-size: medium;
	margin-bottom: 10px;
}
@media (max-width: 1030px) {
	.dashboard_todo #today{
		font-size: 0.6vw;
	}
}

/* 투두리스트, 대시보드 세로로 배치하기 */
@media (max-width: 750px) {
	.dashboard {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-top: 10px;
	}
	.dashboard_detail {
		width: 100%;
		height: 300px;
		border: 1px solid lightpink;
	}
	.dashboard_todo {
		width: 96.9%;
		font-size: 20px;
		border: 1px solid lightpink;
		padding: 10px;
		margin-top: 10px;
		height: fit-content;
	}
	.dashboard_todo #today{
		font-size: 0.6vw;
	}
}
@media (max-width: 670px) {
	.Home_wrap {
		margin: 50px;
		margin-bottom: 50px;
		margin-top: 70px;
	}
	.select_search {
		position: relative;
		bottom: 4px;
	}
	.searchinput input{
		width: 240px;
	}
	.dashboard_detail {
		width: 99.6%;
	}
	.dashboard_todo {
		width: 96.3%;
	}
	.searchinput img {
		position: relative;
		left: 86%;
		bottom: 60%;
	}
	.searchbar ul {
		width: 220px;
		display: flex;
		flex-direction: column;
		position: relative;
		bottom: 16px;
	}
}
@media (max-width: 570px) {
	.dashboard_todo {
		width: 95%;
	}
}

@media (max-width: 930px) {
	.dashboard_todo #today{
		font-size: 0.1vw;
	}
}
@media (min-width: 650px) {
	.App {
		/*width: 640px;*/
		min-height: 100vh;
		min-width: 100vw;
	}
	input {
		width: 400px;
		margin-left: 20px;
	}
	footer .smallwidth_footer_info > *{
		display: none;
	}
	footer .smallwidth_sub > *{
		display: none;
	}

}
@media (max-width: 650px) {
	.App {
		width: 400px;
		min-height:fit-content;
	}
	.sidebar nav ul {
		position: relative;
		right: 23px;
	}

	input {
		width: 400px;
	}

	header .head_text {
		position: relative;
		top: 30px;
		left: 115px;
	}
	#todocontent {
		padding: 10px;
		display: flex;
		flex-direction: column;
	}
	#todocontent ul{
		padding: 10px;

	}
	footer .footer_info> *{
		display: none;
	}
	footer .smallwidth_footer_info_wrap{
		margin-left: 10%;
		margin-top: 10px;

	}
	footer .smallwidth_footer_info > *{
		display: flex;

	}
	footer .smallwidth_sub > *{
		display: flex;
		width: fit-content;
		margin-left: 25%;
	}
	/*.smallwidth_footer_info{*/
	/*	margin: auto 0;*/
	/*}*/
	footer .smallwidth_footer_info p{
		width: 80%;
		display: flex;
		justify-content: space-between;
		padding: 10px;
		margin: 0px;
		font-size: 14px;
		font-weight: bolder;
		cursor: pointer;
		color: white;
	}
	footer .smallwidth_footer_info >hr {
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 3px;
		margin-bottom: 0px;
	}
	.smallwidth_footer_info ul{
		display: flex;
		flex-direction: column;
		margin-top: 5px;
		padding-left: 10px;
	}
	.smallwidth_footer_info ul li{
		margin-bottom: 5px;
		font-size: 11px;
		color:  lightgray;
	}
	.smallwidth_sub > p, ul{
		display: flex;
		font-size: 14px;
		justify-content: center;
		padding-left: 0px;

	}
	.smallwidth_sub img{
		margin-left: 20px;
	}

	.smallwidth_sub ul, span{
		font-size: 10px;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		/* color: lightgray; */
	}

	.smallwidth_sub span{
		margin-top: 30px;
		margin-right: 10px;
	}
}
@media (max-width: 525px) {
	.sidebar nav ul {
		position: relative;
		right: 33px;
	}
	#sub {
		position: relative;
		bottom: 3px;
	}
}