@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&family=Nanum+Pen+Script&family=Tektur&family=Yeon+Sung&display=swap');

/* 로그인 로그아웃 회원가입 css */
.Log{
    font-family: 'Nanum Pen Script', cursive;
    font-family: 'Tektur', cursive; 
    font-family: 'Yeon Sung', cursive;
    font-family: 'Nanum Myeongjo', serif;  
}
.containers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 10px;
}
.login_info{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
}
.login_info p{
    position: relative;
    bottom: 5px;
    font-size: 2em;
    color: #395B64 ;
    font-family: 'Yeon Sung', cursive;
}
.input_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 10px;
}

.input_info input{
    margin-bottom: 10px;
    width: 250px;
    padding-left: 10px;
    border-color: #395B64;
}

.loginbtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginbtn button{
    background-color: #395B64;
    color:white;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    margin-top: 20px;
    font-family:'Yeon Sung', cursive;
    font-size: 20px;
}

.subinfo{
    display: flex;
flex-direction: column;
position: relative;
top: 28px;
right: 100px;
}