.comment_container{
    background: #F5F5F5;
    padding: 80px 0;
}
.comment_form{
    width:60%;
    margin:0 auto;
}
.comment_form > div{
    margin:0 auto;
    width: 80%;
}

.comment_form h2{
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Pretendard-Regular';
}

.comment_input, .comment_submit_btn {
    position: inherit;
    box-shadow: inherit;
    /*margin:inherit;*/
    margin:0;
}
.comment_form .comment_input{
    border-radius: 10px;
    width:80%;
    margin-right: 20px;
}
.comment_form .comment_submit_btn{
    border-radius: 10px;
    width:80px;
    background: #0038FF;
    color:#fff;
    cursor: pointer;
}


.comment_list{
    margin-top: 30px;
    font-family: 'Pretendard-Regular';
}
.comment_list ul{
    padding-left: 0;
}
.comment_list ul .comment{
    margin-bottom: 15px;
    padding:15px;
    border-radius: 10px;
    background:#fff;
}
.comment_list ul .comment strong{
    font-size: 13px;
}
.comment_list ul .comment > p{
    font-size: 13px;
    margin:10px 0;
}
.comment_list ul .comment span{
    color:#A8A8A8;
}
.comment_list ul .comment .comment_edit_btn,
.comment_list ul .comment .comment_remove_btn {
    cursor: pointer;
}
.comment_list ul .comment .comment_report_btn{
    cursor: pointer;
}
.comment_list ul .comment button {
    margin-top:10px;
    background: #395B64;
    border-radius: 10px;
    color:#fff;
    border: none;
    font-size: 10px;
    padding:5px 13px;
    cursor: pointer;
}

/*commentedit*/
.comment_edit_form{
    width: 80%;
    margin:0 auto;
}
.comment_edit_form input{
    border-radius: 10px;
    width:70%;
    margin-right: 10px;
}


/*comment-reply-form*/
.comment_reply_form{
    margin-top:20px;
}
.comment_reply_form input{
    border-radius: 10px;
    margin-top: 10px;
    width:75%;
}
.comment_reply_form .reply_btn{
    border-radius: 10px !important;
    padding:20px 20px !important;
}
.comment_reply_form .reply_btn:nth-of-type(1) {
    margin:0 10px 0 20px;
}


/*reply-list*/
.reply {
    border-top:1px solid #dbdbdb;
    margin-top: 10px;
    padding-top:10px;
}
.reply .reply_content{
    margin-left:20px;
    margin-top: 10px;
}