
.Schedulecalendar{
    width: 60%;
    height: auto;
    position: relative;
    left: 40px;
    margin-top: 10px;

}
.main_schedule_container{
    width: 100%;
    max-width: 1300px;
    position: relative;
    margin-top: 15px;
}
.Schedulecalendar > .header.row{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 18px;
    margin-right: 10px;

}
.text_today{
    position: relative;
    right: 7px;
}

.col.col-start{
    width: 80%;
} 
.col.col-start .text{
    font-size: 1.5rem;
    width: 100%;
}
.Schedulecalendar > .header.row >.col.col-end{
    width: 40%;
    margin-left: 80%;
}
svg{
    font-size: 2rem;
    margin-left: 5px;
}
.Schedulecalendar > .days.row{
    display: flex;
    flex-direction: row;
    /*width: 86%;*/
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 10px;
}
.Schedulerow{
    display: flex;
    flex-direction: row;
   height: 90px;
}
.Schedulerow > .col.cell{
    border: 1.5px solid #395b64;
    width: 14%;
    height: auto;
    font-size: 1.2rem;
    cursor: pointer;
    overflow-y: auto;
    overflow-x: hidden;
}
.Schedulerow > .col.cell::-webkit-scrollbar {
    width: 5px; /* 스크롤바 너비 */
}

.Schedulerow > .col.cell::-webkit-scrollbar-thumb {
    background-color: #a5c9ca; /* 스크롤바 색상 */
}
.Schedulerow > .col.cell.selected{
    overflow-y: auto;
}
.Schedulerow > .col.cell.selected::-webkit-scrollbar {
/* 스크롤바 너비 */
    width: 3px;

}
.Schedulerow > .col.cell.selected::-webkit-scrollbar-thumb {
    height: 3px; /*스크롤바의 길이*/
    background: gray; /* 스크롤바의 색상 */
    border-radius: 10px;
}
.Schedulerow > .col.cell.selected::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}
.col.cell:hover{
    border: 1.5px solid red;
}
.Schedulerow > .col.cell > span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}
.Schedulerow > .col.cell > span > svg{
   margin-left: 0px;
}
.Schedulerow > .col.cell > span > svg:hover{
    color: darkblue;
 }
 .Schedulerow > .col.cell > span.text.not-valid{
    margin-left:0px;
    width: 90%;
}
.col.cell.disabled{
   color: gray;
   border: 1.5px solid gray;
}

#meeting_detail >p{
    margin-bottom: 2px;
}
#line{
    width: 85px;
    height:2px;
    margin: 0px;
}

/*팀블로그 일정*/
.TeamSchedulecalendar {
    width: 60%;
    height: auto;
    position: relative;
    left: 40px;
    margin-top: 10px;
}