.background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.548);
  }
  .background .Scheduleedit_insert {
    width: 40%;
    height: fit-content;
    position: absolute;
    top: 10%;
    left: 30%;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .Scheduleedit_insert .meeting_btn{
    width: fit-content;
    display: flex;
    flex-direction: row;
  
  }
  .meeting_btn > li{
    display: flex;
    flex-direction: row;
    
  }
#add, #cancel, #del{
  background-color: #395b64;
  color: white;
  border-radius: 5px;
  border-style: none;
  margin:2px;
}
  .background .Scheduleedit_insert input {
    width: fit-content;
    height: 40px;
    border-radius: 10px;
}
.background .Scheduleedit_insert h2{
  background: none;
}

  .selectDay{
    width: fit-content;
  }
  .selectstartDay, .selectendDay , .selecttitle, .selectcontent ,.selectstudy , .selectcolor{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }
  
 .selectstudy p {
    margin-bottom: 0;
    width: 130px;
    position: relative;
    top: 10px;
    left: 4px;
 }
  .selectendDay, .selectstudy{
    position: relative;
    right: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .selectstudy {
    width: fit-content;
    position: relative;
    right: 26px;
    margin-bottom: 13px;
    }
    .selectstudy > select ,  .selectstudy > select >option{
        width: 100%;
        height: 40px;
        margin-left: 9px;
        border-radius: 10px;
        border: 1px solid #d9d9d9;
background: #fff;
box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);

    }
  .selecttitle, .selectcontent{
    position: relative;
    right: 4px;
}
.selectcontent{
    margin-left: 125px;
    width: 60%;
    height: 100px;
    margin-top: 5px;
}
.selectcontent > textarea {
width: 40%;
height: 50px;
margin-left: 20px;
border-radius: 10px;
border: 1px solid #d9d9d9;
background: #fff;
box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
padding: 10px;
}
.react-datepicker button{
  width: 20%;
}
  .react-datepicker-wrapper {
    display: inline-block;
    padding: 0;
    border: 0;
    width: fit-content;
    height: 10px;
}
.react-datepicker__navigation-icon {
  width: 20px;
}
.selectcolor{
    position: relative;
    left: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    height: 100px;
}

.selectcolor p{
    margin-right: 50px;
    position: relative;
    left: 30px;
}
.circle-picker > span{
    width: 30px;
    height: 30px;
    padding: 3px;
    position: relative;
    bottom: 6px;
}
  .react-datepicker__input-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 10px;
}
.todoedit_insert input, .todoedit_insert select, .todoedit_insert textarea{ 
box-shadow: none;
}
.todoedit_insert button{
    height: 22px;
}