/*.tag_wrapper{*/
/*    padding: 10px;*/
/*    height: 100vh;*/
/*}*/
/*.tag_wrapper .tag_box{*/
/*    display: flex;*/
/*    align-items: center;*/
/*    flex-wrap: wrap;*/
/*    min-height: 50px;*/
/*    margin: 10px;*/
/*    padding: 0 10px;*/
/*    border: 1px solid rgba(0, 0, 0, 0.3);*/
/*    border-radius: 10px;*/
/*}*/
/*.tag_item{*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*    margin: 5px;*/
/*    padding: 5px;*/
/*    background-color:#395B64;*/
/*    border-radius: 5px;*/
/*    color: white;*/
/*    font-size: 13px;*/
/*}*/
/*.tag_remove_btn{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: 15px;*/
/*    height: 15px;*/
/*    margin-left: 5px;*/
/*    background: none;*/
/*    border: none;*/
/*    color: #fff;*/
/*}*/
/*.tag_input{*/
/*    display: inline-flex;*/
/*    min-width: 150px;*/
/*    background: transparent;*/
/*    border: none;*/
/*    outline: none;*/
/*    cursor: text;*/
/*}*/

/*input{*/
/*    width:inherit;*/
/*}*/
.tag_wrapper {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
}
.tag_list{
    display: flex;
}

.HashWrapInner {
    margin-top: 5px;
    background: #FFC947;
    border-radius: 50px;
    padding:0 12px;
    height:50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.tag_input {
    width: auto;
    margin: 0;
    display: inline-flex;
    outline: none;
    cursor: text;
    line-height: 2rem;
    min-width: 8rem;
    border: none;
}