<!DOCTYPE html>
<html lang="ko">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>로그인</title>
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/login.css">

</html>
<body>
<header>
    <nav class="gnb">
        <ul>
            <li>
            <a href="#">로그인</a>
            </li>
            <li>
            <a href="./sign_up.html">회원가입</a>
            </li>
        </ul>
    </nav>
</header>
</body>
<div class="container">
    <div class="logo">
        <h1><a  href="./mainpage.html">STAR D</a></h1>
    </div>
    <div class="input_logo">
    <h1>로그인</h1>
    </div>
    
    <div class="input_info">
        <form action="#" accept-charset="UTF-8" name="person_info" method="get">
        <ul>
            <li> <input type="text" placeholder="아이디를 입력해주세요."></li>
            <li ><input type="text" placeholder="패스워드를 입력해주세요."></li>
        </ul>
        <div class="submit_btn">
        <input type="submit" value="로그인"/>    
        </div>
        </form>
    </div>
    <div class="subgnb">
      <nav >
           <ul>
             <li><a href="#">아이디 찾기</a></li>
              <li><a href="#">비밀번호 찾기</a></li>
              <li><a href="./sign_up.html">회원가입</a></li>
        </ul>
    </nav>
</div>
</div>