<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>STAR D</title>
		<link rel="stylesheet" href="../css/main.css" />
	</head>
	<body>
		<header>
			<nav class="gnb">
				<ul>
					<li><a href="/login">로그인</a></li>
					<li><a href="/signup">회원가입</a></li>
				</ul>
			</nav>
		</header>
		<div class="container">
			<div class="background_color"></div>
			<h1 class="logo">STAR D</h1>
			<div class="menu">
				<ul>
					<li><a href="#">스터디</a></li>
					<li><a href="#">커뮤니티</a></li>
					<li><a href="#">공지사항</a></li>
				</ul>
			</div>
			<div class="search">
				<input
					type="search"
					placeholder="원하는 스터디를 검색해보세요."
				/>
			</div>
			<div class="tag">
				<h3>STAR D의 요즘 뜨는 태그!</h3>
				<div class="tag_top5">
					<div>#프론트엔드</div>
					<div>#백엔드</div>
					<div>#파이썬</div>
					<div>#네트워크</div>
					<div>#클라우드</div>
				</div>
			</div>
		</div>
	</body>
</html>
