
#edit_main.main_container {
    height: fit-content;
}
.backarrow{
    width: 50%;
    display: flex;
    margin-left: 25%;
    position: relative;
    right: 2%;
    margin-top: 5%;
}
svg{
    margin-right: 2%;
}
.backarrow p {
    font-size: 30px;
    margin-left: 1%;
    font-weight: bolder;
    font-family: inter;

}
.change_nicname,.change_estate, .change_email,
.change_interest, .change_pw , .change_phone , .signout{
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    border: lightgray solid 1px;

}

#c_email{
    height: fit-content;
}
.change_email{
    position: relative;
}
.change_email > p{
    position: absolute;
    left:50%;
    top: 60%;
    transform:translateX(-50%);
}

#title{
    font-size: 20px;
}
#sub_title{
    font-size: 10px;
    color: red;
    margin-left: 5px;
}

#content{
    width: 80%;
    height: 35px;
    background-color: #F2F2F2;
    margin-left: 10%;
    margin-bottom: 23px;
    border-radius: 10px;
    text-align:center;
}
input{
    padding-left: 0;
    font-family: 'Pretendard-Regular';
    width: 572px;
    height: 47px;
}
.tags{
    width: 90%;
    height: fit-content;
    margin-left: 100px;
    margin-bottom: 20px;
}
#tag{
    width: 18%;
    height: 30px;
    margin:10px;
    cursor: pointer;
    background-color: #F2F2F2;
    color: #395B64;
    border-style: none;
    border-radius: 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Pretendard-Regular';
}
#save{
    width: 20%;
    height: 30px;
    font-size: 1.3em;
    color: white;
    background-color: #395B64;
    border-style: none;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 40%;
    cursor: pointer;
}
.change_email > #save{
    margin-top: 10px;
}
.select_country{
    position: relative;
    bottom:38px;
    left: 100px;
}
select{
    background-color: #F2F2F2;
    border-style: none;
    font-family: 'Pretendard-Regular';
}

#sign_out.sub_container{
    height: fit-content;
}

.title_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}
#content_btn{
    width: 50px;
}
#content_btn > img{
    position: relative;
    top: 18px;
    left: 25px;
}
.signout_content{
    width: 60%;
    margin-left: 20%;
}
.signout_content #detail_content > p{
    font-size: 20px;
}
.signout_content #detail_content > ul{
    height: fit-content;
}
.signout_content #detail_content >ul li{
    font-size: 12px;
    margin-bottom: 20px;
}
#checkpw{
    margin-top: 40px;
}
#checkpw input{
    border-radius: 10px;
    height: 40px;
    font-size: 12px;
    box-shadow: none;
}
#signout_btn{
    border-radius: 10px;
    background-color: #395B64;
    color: white;
    width: 30%;
    height: 30px;
    margin-left: 32%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: none;
    font-size: 12px;

}

#checkname{
    width: 100%;
    display: flex;
    flex-direction: row;
}


#checkname input{
    width: 70%;
}
#check_double_nicname{
    width: 10%;
    height: 30px;
    background-color: #395B64;
    color:white;
    margin-left: 20px;
    margin-top: -5px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}
/* 거주지 */
#checkestate{
    width: 100%;
}
.select_estate{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.select_estate #sido1, #gugun1{
    width: 40%;
    height: 30px;
}
.select_estate #sido1, #gugun1{
    margin-right: 10px;
    background-color: #F2F2F2;
    color: #395B64;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Pretendard-Regular';
}

option{
    background-color: #F2F2F2;
    color: blue;
    padding: 10px;
    font-size: 10px;
}
