#scrap_study {
	position: relative;
	right: 30px;
	width: 98%;
}
.sub_container {
	display: flex;
	/* background-color: aliceblue; */
	padding-left: 30px;
	padding-right: 0;
	border-radius: 15px;
	width: 96%;
	overflow: hidden;
	margin-bottom: 20px;
}
.sub_wrap {
	margin-left: 30px;
	padding-right: 0;
	border-radius: 15px;
	width: 94%;
	height: 70%;
	overflow: hidden;
}
/*이 아래부터 MyOpenStudy.css것이 적용됨*/
.study_list {
	display: flex;
	flex-wrap: wrap;
}

.study_list .list_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 10px;
}

.study_list .list_deadline {
	font-size: 13px;
	padding-top: -10px;
	color: #99a3af;
	margin-bottom: 10px;
}
.study_list .list_title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}
.study_list .list_tag {
	width: fit-content;
	background-color: #ffffff;
	border: 0.275px solid #FFC947;
	padding: 7px 10px;
	border-radius: 50px;
	margin-bottom: 5px;
}
.study_list .list_onoff {
	width: fit-content;
	background-color: #FFC947;
	border: 0.275px solid #FFC947;
	padding: 7px 10px;
	border-radius: 50px;
	margin-bottom: 5px;
}
.study_list .stroke {
	margin-bottom: 7px;
	border-bottom: 1px solid #c6c6c6;
}

.no_scrap{
	width: 100%;
	text-align: center;
}



.study_list li .list{
	width: 200px;
	height: inherit;
	margin-bottom: 0;
	padding: 30px;
	margin-right: 20px;
	border:lightgray solid 1px;
	border-radius: 10px;
}
.study_list li .list_like{
	margin-right: 5px;
}
.study_list li .list_day{
	margin-right: 5px;
}
.study_list li .list_header{
	margin-bottom: 5px;
}
.study_list li .list_deadline{
	font-size:11px;
}
.study_list li .list_title{
	font-size:17px;
}