html {
	font-size: 62.5%;
} /*10px*/

.main_container {
	width: 85%;
	max-width: 900px;

}
.c_01,
.c_02,
.c_03,
.c_04 {
	font-size: 2em;
	color: lightgray;
	margin-bottom: 10px;
	margin-top: 10px;
}

.sub_c > nav {
	padding: 0px;
}
.sub_c > nav ul {
	display: flex;
	flex-direction: column;
	width: fit-content;
	padding: 0;
}
.sub_c > nav ul li {
	list-style: none;
	color: white;
	font-size: 15px;

	white-space: nowrap;
	padding: 5px;
}

.sub_container {
	display: flex;
	/* background-color:aliceblue; */
	padding-left: 30px;
	padding-right: 0;
	border-radius: 15px;
	width: 96%;
	overflow: hidden;
}
.reliability,
.schedule,
.todo {
	background-color: white;
	border: lightgray solid 1px;
	width: 229px;
	height: 200px;
	padding: 10px;
	padding-top: 0px;
	border-radius: 10px;
	margin-right: 35px;
}

.todo {
	margin-right: 0px;
}
.tag {
	display: flex;
	justify-content: space-between;
	/* white-space: nowrap; */
	font-size: 1.3em;
	padding-right: 3px;
	margin-top: 10px;
}

#more {
	background-color: white;
	border-style: none;
	color: #808080FF;
	font-size: 1.1rem;
	margin-left: 90px;
	cursor: pointer;
}
p {
	font-size: 1.2rem;
}
.todo .tag p{
	font-size: 13px;
	font-weight: bold;

}
.todo #detail{
	font-size: 12px;
}
#today{
	font-size: 14px;
}
#todocontent{
	padding: 5px;

}
#todocontent li{
	padding: 3px;
	display: flex;
	flex-direction: row;
}
/* .list_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

} */
.checked{
	color: #adb5bd;
	text-decoration: line-through;
}
#todotext{
	position: relative;
	top: 3.1px;
	margin-left: 2px;
}
.empty_today_todo{
	margin-top: 20px;
}
.sub_wrap {
	margin-left: 30px;
	padding-right: 0;
	border-radius: 15px;
	width: 94%;
	height: 70%;
	overflow: hidden;
}
ul {
	padding-left: 10px;
	margin: 0;
}
li {
	list-style: none;
}
.study_list {
	display: flex;
	flex-direction: row;
	width: 500%; /*리스트 크기단위를 vw로 했었어야,,했다. */
}
.scrap_button {
	display: flex;
	justify-content: space-between;
	position: relative;
	bottom: 55%;
	width: 100%;
}

#scrap_study {
	position: relative;
	right: 30px;
	width: 98%;
}

.list_detail {
	background-color: white;
	border-radius: 10px;
	border: lightgray solid 1px;
	width: 225px;
	height: 200px;
	padding: 10px;
	padding-top: 10px;
	padding-bottom: 0;
	border-radius: 10px;
	margin-right: 35px;

}

.list_story {
	width: 910px;
}
.story_detail {
	width: 95%;
	height: 55px;
	margin-bottom: 25px;
	background-color: white;
	border-radius: 10px;
	border: lightgray solid 1px;
}






@media (max-width: 1300px) {
	/* 레이아웃 크기 바꾸기 배치는 그대로 */
	.container {
		width: 80%;
	}
	.category {
		margin-right: 2%;
		font-family: "Pretendard-Regular";
	}
	.main_container {
		width: 75%;
		max-width: 800px;
	}
	.sub_container {
		width: 100%;
	}
	.reliability,
	.schedule,
	.todo {
		width: 25.3%;
		flex-shrink: 1;
	}
	.todo {
		margin-right: 0px;
	}
	.tag {
		font-size: 0.7em;
		padding-right: 0.2rem;
	}

	#more {
		background-color: white;
		border-style: none;
		color: #808080FF;
		font-size: 1rem;
		margin-left: 16px;
	}
	p {
		font-size: 1rem;
	}
	.list {
		width: 134%;
		margin-left: 10px;
	}
	.scrap_button {
		width: 105%;
		position: relative;
	}
	#scrap_study {
		width: 100.3%;
		position: relative;
		padding-right: 10px;
		/* right: 10px; */
	}

	.list_detail {
		width: 230px;
		min-width: 130px;
		padding-top: 0px;
		border-radius: 10px;
		margin-right: 35px;
	}
	.list_story {
		width: 900px;
	}
	.story_detail {
		width: 99%;
	}
}
@media (max-width: 1270px) {
	/* 배치 바꾸기 */
	.container {
		width: 65%;
	}
}
@media (min-width: 650px) {
	.main_container {
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 650px) {
	.container {
		width: 80vw;
		margin: 0 auto;
	}
	.category {
		display: none;
	}

	.sub_container {
		/* background-color:aliceblue; */
		width: 55vw;
		height: 220px;
	}
}
