.page_title{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 0px;
}
#find-id{
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 0px;
}
.findwrap{
    display: flex;
    justify-content: center;
    position: relative;
    left: 30px;
}
.container_findwrap{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}

.container_find {
    height: 200px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 20%;

}
.subinfos {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 20px;
}

.subinfos2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    font-size: 20px;
}
#detail{
    font-size: 13px;
}
.input_infos {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
    justify-content: center;
    width: 50%;
}
.input_infos input {
    margin-bottom: 20px;
    width: 82%;
    height: 40px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid #d9d9d9
}
.input_phone{
    height: 200px;
    width: 50%;
}
#phone{
    margin-top: 60px;
}
.inputform{
    height: 100px;
    width: 600px;
    position: relative;
    bottom: 30px;
}
.select_country {
    position: relative;
    width: 30%;
    left: 20px;
    right: 30px;
    bottom: 13px;

}
select{
    width: 150px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    border:1px solid #dbdbdb;
    background: #fff;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);

}
#phonecontent{
    position: relative;
    top: 30px;
    width: 60%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    padding-left:10px;
}

.Certification_Number1{
    left: 50px;
}

.Certification_Number1 >button{
    background-color: #7A8E6D;
    color: white;
    height: 40px;
    border-radius: 10px;
    font-family: 'Pretendard-Regular';
    border-style: none;
    cursor: pointer;
    margin-left: 10px;
}

.Certification_Number{
    width: 100px;
    position: relative;
    bottom:10px;
    left: 125px;
}
.Certification_Number >button{
    background-color: #7A8E6D;
    color: white;
    height: 40px;
    border-radius: 10px;
    font-family: 'Pretendard-Regular';
    font-size: 15px;
    border-style:none ;
    cursor: pointer;
    width: 100px;
}
.receive_number{
    position: relative;
    bottom: 30px;
}
.receive_number input{
    width: 60%;
    height: 40px;
    border-radius: 10px;
    border: 1.5px solid #a5c9ca;
    position: relative;
    top: 35px;
}


.findresult{
    display: flex;
    justify-content: center;
}

#result-id{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 20px;

}
.gotologin{
    display: flex;
    justify-content: center;
}
#go-to-login{
    font-size: 15px;
    background-color: #7A8E6D;
    color: white;
    border-style: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 62.5px;
}