.wrap{
    display: flex;
    justify-content: center;
    width: 100%;

}
#title{
    margin: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.content{
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    font-family: 'Pretendard-Regular';
}
.subcontent{
    margin-top: 20px;
    margin-bottom: 20px;
}
.change_estates{
    height: 150px;
}



#checkestate{
    display: flex;
    width: 100%;
    justify-content: center;
}
#checkestates{
    width: 100%;
    height: fit-content;
    padding-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: lightgray solid 1px;


}

.select_estates{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
#estates{
    border: lightgray solid 1px;
    border-radius: 10px;

}

.change_estates #realestate #sido1 #gugun1 {
    width: 70%;
    margin-bottom: 30px;
    margin-right: 0px;
    margin-left: 15%;
    height: 40px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1.5px solid #a5c9ca;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.next_btn{
    display: flex;
    justify-content: center;
}
#next{
    background-color: #395b64;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    border-style: none;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Pretendard-Regular';
}

/*#interested.sub_container{*/
/*    padding-left: 0px;*/
/*    width: 100%;*/
/*    height: fit-content;*/
/*}*/