@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&family=Nanum+Pen+Script&family=Tektur&family=Yeon+Sung&display=swap");

/* 로그인 로그아웃 회원가입 css */
.Log {
	font-family: "Nanum Pen Script", cursive;
	font-family: "Tektur", cursive;
	font-family: "Yeon Sung", cursive;
	font-family: "Nanum Myeongjo", serif;
}
/* .Logo{
    font-family: 'Yeon Sung', cursive;
    font-size:50px;
    font-weight: bold;  
    color:#395B64;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.containers {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	height: 500px;
}
#log{
	height: 500px;
}
#sign{
	height: 700px;
}
.login_info {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.login_info p {
	position: relative;
	bottom: 45px;
	font-size: 2.2em;
	color: #395b64;
	font-family: "Nanum Pen Script", cursive;
}
.input_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	bottom: 50px;
}

.input_info input {
	margin-bottom: 20px;
	width: 250px;
	height: 40px;
	padding-left: 10px;
	border-radius: 10px;
	border: 1.5px solid #a5c9ca;
}

.loginbtn,
.signbtn {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	bottom: 40px;
	left: 10px;
	
}
.loginbtn {
	top: 10px;
}

.loginbtn button,
.signbtn button {
	background-color: #395b64;
	color: white;
	width: 250px;
	height: 40px;
	border-radius: 10px;
	font-family: "Yeon Sung", cursive;
	font-size: 20px;
	position: relative;
	top: 10px;
	border-style: none;
	cursor: pointer;
}

.subinfo {
	display: flex;
	flex-direction: row;
	position: relative;
	bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 14px;
}
.signup_nicname, .signup_id{
	display: flex;
	flex-direction: row;
	width: 148%;
}
.signup_nicname input, .signup_id input{
	width: 60%;
}
#signup_nicname_btn{
	width: 18%;
	height: 20px;
	background-color: #395b64;
	color: white;
	font-size: 11px;
	margin-left: 10px;
	border-radius: 10px;
	border-style: none;
	cursor: pointer;
}
#signup_nicname_btn[disabled] {
	background-color: #767678; /* Set a different background color for disabled state */
	cursor: not-allowed; /* Change cursor to not-allowed */
}
.inputpw, .inputemail{
	margin-bottom: 10px;
}
.signup_id > input, .inputpw > input, .inputemail > input{
	margin-bottom: 0px;
}

p{
	margin-top: 0;
}

.findlog{
	position: relative;
	top:30px;
	left: 65px;

}