@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&family=Nanum+Pen+Script&family=Tektur&family=Yeon+Sung&display=swap");

/* 로그인 로그아웃 회원가입 css */
.Log {
	font-family: "Nanum Pen Script", cursive;
	font-family: "Tektur", cursive;
	font-family: "Yeon Sung", cursive;
	font-family: "Nanum Myeongjo", serif;
}
/* .Logo{
    font-family: 'Yeon Sung', cursive;
    font-size:50px;
    font-weight: bold;  
    color:#395B64;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.containers {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}
#log{
	height: 400px;
	margin-bottom: 50px;
}
.login_info {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.login_info p {
	font-size: 1.7em;
	color: #395b64;
	font-family: 'Pretendard-Regular';
}
.containers form{
	position: relative;
}
.input_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}
.input_info .subinfo{
	display: inline-block;
}
.input_info .require_info{
	color:#E64C3C;
	margin-left: 5px;
}
.input_info .signup_id{
	/*margin-bottom: 10px;*/
}
.input_info .signup_id,
.input_info .signup_nicname{
	display: flex;
	flex-direction: column;
}
.input_info input {
	/*margin-bottom: 20px;*/
	width: 250px;
	height: 40px;
	padding-left: 10px;
	border-radius: 10px;
	/*border: 1.5px solid #0038FF;*/
}

.loginbtn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 25px;
	margin-bottom: 20px;
}
.loginbtn {
	top: 10px;
}
.signbtn {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.loginbtn button,
.signbtn button {
	background-color: #BBDF9F;
	color: white;
	width: 250px;
	height: 40px;
	border-radius: 10px;
	font-family: 'Pretendard-Regular';
	font-size: 15px;
	/*position: relative;*/
	/*top: 10px;*/
	border-style: none;
	cursor: pointer;
}

.subinfo {
	display: flex;
	flex-direction: row;
	position: relative;
	bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 13px;
	font-family: 'Pretendard-Regular';
}
.signup_nicname, .signup_id{
	display: flex;
	flex-direction: row;
	width: 148%;
}
#signup_nicname_btn{
	width: 15%;
	height: 30px;
	background-color: #BBDF9F;
	color: white;
	font-size: 11px;
	margin-left: 10px;
	border-radius: 10px;
	border-style: none;
	cursor: pointer;
	margin-top: -3px;
	font-family: 'Pretendard-Regular';
}
.input_bottom {
	margin-bottom: 20px;
}
.input_bottom input{
	margin-left:0;
}
#signup_nicname_btn[disabled] {
	background-color: #767678; /* Set a different background color for disabled state */
	cursor: not-allowed; /* Change cursor to not-allowed */
}
.signup_id > input, .inputpw > input, .inputemail > input{
	margin-bottom: 0px;
}

p{
	margin-top: 0;
}

.findlog{
	display: flex;
	justify-content: center;
	font-family: 'Pretendard-Regular';
}