.background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.548);
}
.background .service_content_wrap {
    width: 40%;
    height: fit-content;
    position: absolute;
    top: 10%;
    left: 30%;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Pretendard-Regular';
}
.terms_list, .term_item {
    margin-top: 0px;
}
.check_terms {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 32px;
    margin-top: 40px;
}
#all {
    position: relative;
    right: 210px;
}
.terms_desc{
    margin-top: 15px;
    margin-left: 35px;
    padding-right: 35px;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -.43px;
    color: #767678;
}
label {
    cursor: pointer;
}
/*버튼*/
#check_btn{
    position: relative;
    top: 6px;
}
.check_terms label {
    display: inline-block;
    position: relative;
    margin-left: -32px;
    padding: 4px 0 4px 32px;
    vertical-align: middle;
}
.check_terms .text_wrap {
    display: inline-block;
    vertical-align: middle;
}
em {
    margin-left: 10px;
}
.check_terms .text {
    margin-right: 5px;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -.8px;
    color: #222;
    vertical-align: middle;
}

.terms_box {
    overflow: auto;
    box-sizing: border-box;
    max-height: 100px;
    margin: 9px 0 0 32px;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #d6d6d6;
}
.article:first-child {
    margin-top: 0;
}
.article {
    margin-top: 15px;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -.43px;
    color: #767678;
}
.article_title {
    letter-spacing: -.38px;
    color: #303038;
}
.article_text {
    margin-top: 5px;
}


#agreebtn{
    border: 0px;
    border-radius: 10px;
    background-color: #395b64;
    color: white;
    padding: 7px;
    margin-top: 15px;
}
.check_term_of_service
{   display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    position: relative;
}
.check_term_of_service > span{
    display: flex;
    flex-direction: row;
}
.check_term_of_service > span > p{
    margin-bottom: 0px;
    position: relative;
    top: 3px;
    cursor: pointer;
    font-family: 'Pretendard-Regular';
}
#term{
    width: 150px;
}
.check_term_of_service > span > img{
    cursor: pointer;
}