.TeamTodo_container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 50px;
}
.TeamTodo_container h1 {
    font-size: 27px;
    text-align: center;
    color: #395B64;
    /*font-family: 'Pretendard-Regular';*/
}
/*담당자 선택란*/
.select_assignee, .selected-assignees{
    display: flex;
    width: 90%;

    border-radius: 2px;
}
.select_assignee > p .selected-assignees > p{
    padding: 2px;
    margin:  0px;
    font-size: 12px;
}
.assignees{
    display: flex;
    margin-left: 10px;
    padding: 2px;
    padding-top: 3px;
    cursor: pointer;
    background-color: rgba(242, 241, 238, 0.6);
}
.selected-assignees button{
    background-color: rgba(242, 241, 238, 0.6);
    margin-left: 5px;
    color: #767678;
    border-style: none;
    font-size: 10px;
    cursor: pointer;
    position: relative;
    bottom: 3px;
}