.background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.548);
}
.background .todoedit_insert {
  width: 40%;
  height: 40%;
  position: absolute;
  top: 30%;
  left: 37%;
  padding: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.background .todoedit_insert h2{
  background: none;
}
.background .todoedit_insert input{
  width: 80%;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.background .todoedit_insert button{
  background-color: #395b64;
  color: white;
  border-radius: 5px;
  border-style: none;
}