.TodoListItem {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
}

.checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 78%;
}

.checkbox img {
    font-size: 1rem;
}
/* .checkbox.checked{
    background-color:rgb(173, 216, 230, 0.1);
    
} */
.checkbox.checked .text {
    color: #adb5bd;
    text-decoration: line-through;
}

.text {
    font-size: 1.2rem;
    width: 60%;
    margin-left: 10px;
}

.Edit, .Remove{
    position: relative;
    top: 10px;
}