
#todo_sub.sub_container{
    width: 120%;
    height: fit-content;
    position: relative;
    right: 10px;
  }

  .todo_container{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-top: 30px;
  }
  .TodoList{
    margin-top: 30px;
  }
  .today{
    font-size: 20px;
    padding-bottom: 10px;
  }
  .TodoList span{
    font-size: 15px;
  }
  .alert_empty_todo{
    margin-left: 25px;
  }

  @media (max-width: 1300px) {
    .todo_container {
      display: flex;
      flex-direction: column;
      width: 60%;
      margin-top: 30px;
    }

  }